<div class="outer">
  <div class="content">
    <ul class="icons">
      <li><a target="_blank" href="https://twitter.com/belgelatouk" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a target="_blank" href="https://www.facebook.com/belgelatouk" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a target="_blank" href="https://www.instagram.com/belgelato/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <!-- <li><a target="_blank" href="#" class="icon fa-tripadvisor"><span class="label">Tripadvisor</span></a></li> -->
    </ul>

    <div class="contacting address">
      <h5>ADDRESS</h5>

      <p>
      11 High Street<br>
      Barnet EN5 5XY</p>
    </div>

    <div class="contacting">
      <h5>CONTACT</h5>

      <p>
        <a class="tooltip" href="mailto:info@belgelato.co.uk">info@belgelato.co.uk
            <!-- <span class="tooltiptext tooltip-top">enquiries</span> -->
        </a>
        <br>
      0208 449 6551</p>
    </div>

    <div class="contacting operating">
      <h5>OPEN DAILY</h5>

      <p>Monday to Sunday <br>
        <span class="open-hours"></span>
      </p>
    </div>

    <div class="copyright">
      &copy;<a href="http://www.belgelato.co.uk/">Bel Gelato</a> <span class="year"></span>
    </div>
  </div>
</div>
