/*@import url("https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic");*/

@import url('font-awesome.min.css');


/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for
   you to simply add your own. This is a basic template
   after all.
   ---------------------------------------------------------*/


    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }



/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

   html,
   body {
     height: 100%;
     width: 100%;
   }

   html {
     background-color: #4C3122;
   }

   *,
   *:before,
   *:after {
     box-sizing: inherit;
   }

   body {
     font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
     -webkit-overflow-scrolling: touch;
   }

   h1, h2, h3, h4, h5, h6 {
     margin: 0;
   }

    header{
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: #4C3122;
    }

    #top {
      color: #fff;
      text-align: center;
      font-weight: 700;
      font-size: .95em;
    }
    a.mall {
      color: #fff;
      text-decoration: none;
    }

    a.mall:hover {
      color: #fff;
      text-decoration: underline;
    }

    .scrolling {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      background-color: rgba(255, 255, 255, 0.85);
      margin-top: -50px;
    }

    ul#menu{
      list-style: none;
      position: fixed;
      font-family: 'Ubuntu Condensed', sans-serif;
      width: 100%;
      height: 50px;
      top: 50px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      z-index: 1000;
    }

    #menu li{
      display: inline-block;
      margin-right: .7em;
    }

    ul#menu li.icon {
      display: none;
    }

    ul#menu li.icon a{
      width: 40px;
      float: right;
      line-height: 50px;
    }

    #menu li a{
      color: #2F2E2E;
      font-size: 1.15em;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }

    #menu a:hover, #menu li.active a{
      color: #B8221D;
    }

    main {
      background-color:#fff;
    }

    #hero, #flavours, #food, #cakes, #belgelato {
      background-color: #F9DB79;
      width: 100%;
    }

    #hero .image {
      background-repeat: no-repeat;
      min-height: 800px;
    }

    .height {
      min-height: 400px;
    }

    .inner {
      text-align: center;
      color: rgba(255, 255, 255, 1);
      padding: 7em 0 8em;
    }

    #heading {
      background-color: #F9DB79;
    }

    #hero .inner {
      padding-top: 21em;
    }

    #heaidng .inner {
      padding-top: 11em;
    }

    #post{
      color: #333;
    }

    h1.larger {
      font-size: 700%;
      text-shadow: 4px 4px 2px rgba(28, 28, 28, 0.5);
      margin: 0 0 .3em;
    }

    .owl-carousel img {
      display: none;
    }

    #seven {
      /*background-color: #fff;*/
    }

    #seven ul {
      list-style: none;
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
    }

    #seven li {
      margin-right: -1px;
    }

    #seven li .label{
      display: none
    }

    h2.larger, h3.larger {
      font-size: 2em;
      text-align: center;
    }

    .larger {
      text-transform: uppercase;
    }

    a.button {
      color: #fff;
      outline: solid rgba(255, 255, 255, 1) 1px;
      padding: .5em 1em;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
      word-spacing: 7px;
    }

    #one a.button {
      color: #9B665A;
      outline: solid #9B665A 1px;
    }

    #three a.button {
      color: #6A9B89;
      outline: solid #6A9B89 1px;
    }

    #four a.button {
      color: #fff;
      outline: none;
      background-color: #6A9B89;
    }

    #five a.button {
      color: #B57B92;
      outline: solid #B57B92 1px;
    }

    a.button:hover {
      transition: background-color 0.5s ease 0s;
      background-color: rgba(181, 232, 213, 0.85);
      outline: none;
    }

    #one a.button:hover {
      background-color: #9B665A;
      color: #fff;
    }

    #three a.button:hover {
      background-color: #6A9B89;
      color: #fff;
    }

    #four a.button:hover {
      background-color: rgba(255, 255, 255, 0.85);
      color: #6A9B89;
    }

    #five a.button:hover {
      background-color: #B57B92;
      color: #fff;
    }

    article, section {
      max-width: 100%;
    }

    article .content, section .content{
      /*background-color: #fff;*/
    }

    article .info, section .info{
      width: 50%;
      margin: 0 auto;
    }

    #one .info h2{
      color: #9B665A;
    }

    #three .info h2, #four .info h2{
      color: #6A9B89;
    }

    #five .info h2{
      color: #B57B92;
    }

    #six {
      /*background-color: #fff;*/
      min-height: 130px;
      line-height: 130px;
    }

    #six .second-line h2, #sixty .second-line h2{
      color: #317482;
    }

    .center {
      text-align: center;
    }

    .paddings{
      padding: 20px 0;
    }

    .margin-bottom{
      /*background-color: #fff;*/
      padding-bottom: 50px;
    }

    .info h2, .menu-grid h2{
      font-family: "Kaushan Script", sans-serif;
      font-size: 3em;
    }

    .info p{
      font-size: 110%;
      font-style: italic;
      margin-bottom: 2em;
    }

    article.style1 > div {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      padding: 5em 0;
      height: 400px;
    }

    .image img{
      visibility: hidden;
    }

    article .cover-image, section .cover-image {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .reverse {
      float: right;
    }

    article.post .cup, section.post .cup {
      background-color: #B5E8D5;
      background-attachment: fixed;
    }

    article.post .cupper, section.post .cupper {
      background: #B5E8D5 url(../../images/lines-bk.png) no-repeat center -170px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    article.post .cupper img, section.post .cupper img{
      width: 100%;
    }

    article.post .second-line, section.post .second-line {
      background-color: #fff;
      height: 170px;
      margin-top: -130px;
    }

    .second-line h2{
      text-align: center;
      position: relative;
      top: 50%;
      letter-spacing: 7px;
    }


    footer {
      background: #4C3122;
      text-align: center;
    }

    footer .outer{
      padding: 3em 5em 1em;
    }

    footer p {
      line-height: 1.5em;
    }

    footer h5 {
      text-transform: uppercase;
    }

    footer .content {
      color: #fff;
      font-size: 1.2em;
      font-weight: 300;
      width: 90%;
      margin: 0 auto;
    }

    footer ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
      margin: 0 0 3em;
    }

    footer ul.icons li {
      display: inline-block;
      padding: 0 1.5em 0 0;
    }

    footer .icon > .label {
      display: none;
    }

    footer ul.icons li .icon:before {
      font-size: 2em;
    }

    footer .icon:before {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
    }

    footer .content .contacting {
      width: auto;
      text-align: left;
      margin-bottom: 2em;
    }

    footer .contacting:nth-of-type(2) {
      padding: 0 5em 0;
    }

    footer .content > div {
      display: inline-block;
      vertical-align: text-top;
    }

    footer .copyright {
      color: rgba(255, 255, 255, 0.5);
      width: 100%;
    }

    footer a:link, footer a:visited {
      color: rgba(255, 255, 255, 0.75);
      text-decoration: none;
    }

    footer a:hover {
      color: rgba(255, 255, 255, 1);
    }

    footer .contacting a:hover, footer .copyright a:hover {
      text-decoration: underline;
    }

    footer input[type="text"], input[type="password"], input[type="email"] {
      background: rgba(144, 144, 144, 0.075);
      height: 2.75em;
      color: #fff;
      border: solid 1px;
      outline: 0;
      padding: 0 1em;
      width: 70%;
    }

    footer a.subscribe {
      padding: .7em 1em .75em;
      margin-left: -5px;
      border: 1px solid #fff;
      font-weight: 400;
    }

    .outer-grid{
      /*background-color: #fff;*/
    }

    .menu-grid{
      width: 80%;
      margin: 0 auto;
    }

    .menu-grid ul{
      list-style: none;
      text-align: center;
      padding: 0;
    }

    .menu-grid .item{
      /*border: 1px solid #f00;*/
      width: 30%;
      min-height: 100px;
      display: inline-block;
      margin: 0 2.3em 1.5em 0;
    }

    .menu-grid img{
      width: 100%;
      margin: 0 auto;
    }

    .menu-grid h2{
      color: #9B665A;
    }

    .menu-grid h4{
      font-size: 1.5em;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70%;
      margin: 0 auto;
      padding-bottom: 10px;
      border-bottom: 1px dotted #333;
    }

    .menu-grid p{
      width: 80%;
      margin: 20px auto;
    }

    .menu-grid .row{
      margin-bottom: 25px;
    }

    /* Tooltip container */
    .tooltip {
      position: relative;
      display: inline-block;
      /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */*/
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: rgba(255, 255, 255, .8);
      color: #000;
      font: italic 18px Arial, sans-serif;
      text-align: center;
      line-height: 1em;
      padding: 7px 0;
      margin-bottom: 7px;
      border-radius: 5px;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    .tooltip-top {
      width: 120px;
      bottom: 100%;
      left: 50%;
      margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }

    .tooltip .tooltiptext::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(255, 255, 255, .80) transparent transparent transparent;
    }

    /* ---------------------------------------------------------
       Media Queries
       ---------------------------------------------------------*/

    /* Smartphones  ----------- */

    @media only screen
    and (max-width : 649px) {

      .menu-grid .item {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 2em;
      }

      .menu-grid img {
        padding: .5em 0 1em;
      }

      p.description {
        display: none;
      }

      h1.larger {
        font-size: 400%;
      }

      ul#menu {
        background-color: rgba(255, 255, 255, 0.85);
        height: auto;
      }

      ul#menu li.icon {
        display: block;
        position: absolute;
        right: 5%;
        top: 0;
        width: 100%;
      }

      li.icon a:hover{
        color: #2F2E2E !important;
      }

      ul#menu li.links:not(.active) {
        display: none;
      }

      ul.responsive li.links {
        display: block !important;
      }

      ul.responsive li.links a {
        display: block;
        margin-left: -40px;
        padding-left: 40px;
      }

      .one-line.cupper .second-line {
        background-color: transparent;
        height: 100px;
        margin-top: -70px;
      }

      footer .content .address, footer .content .operating {
        display: none;
      }

      footer .content .contacting {
        width: 100%;
        text-align: center;
      }

      footer .contacting:nth-of-type(2) {
        padding: 0;
      }

      footer ul.icons li {
        display: inline-block;
        padding: 0 .5em 0 0;
      }

      header #top span{
        display: none;
      }

      header #top:after {
        content: '11 High Street, Barnet EN5 5XY';
      }

      article .info, section .info {
        width: 70%;
      }

      article.style1 > div {
        width: 100%;
        height: auto;
        display: block;
      }

      .info h2{
        display: none;
      }

      article.post .content{
        padding: 2em 0 3em;
      }

      article.post .cover-image{
          max-height: 250px;
      }

      .reverse {
        float: none;
      }

      .larger.events {
        font-size: 100px;
      }

      .divider {
        display: block;
        height: 5px;
        visibility: hidden;
      }
    }

    /* Tablets (portrait and landscape) ----------- */
    @media only screen
    and (min-width : 650px)
    and (max-width : 1024px) {


      .scrolling {
        margin-top: 0;
      }

      ul#menu {
        /*position: static;*/
        /*width: auto;*/
      }

      #menu li {
          margin-right: 1.4em;
      }

      #menu li a {
          font-size: 1.7em;
          display: block;
      }

      .menu-grid .item {
        width: 45%;
        margin: 0 0 3em 0;
      }

      .menu-grid .item:nth-child(even){
        float: right;
      }

      p.description {
        display: none;
      }

      article.style1 > div {
        width: 100%;
        display: block;
        clear: both;
        padding-bottom: 0;
      }

      .belgelato article.post .content{
        height: 300px;
      }

      footer .content .contacting {
        width: 100%;
        text-align: center;
      }

      footer .content .address{
        display: none;
      }

      footer .contacting:nth-of-type(2) {
        padding: 0;
      }

      footer ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
      }
    }

    /* Desktop only ----------- */
    @media only screen
    and (min-width : 1025px) {

      .menu-grid .item:nth-child(3n){
        margin-right: 0;
      }
    }

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
